
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Foodsense</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/newclasses.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

    {# scripts and links required for select2 boxes #}
    {# <script type="text/javascript" src="https://select2.github.io/vendor/js/jquery.min.js"></script> #}
    {# <script type="text/javascript" src="https://select2.github.io/dist/js/select2.full.js"></script> #}
    {# <script type="text/javascript" src="https://select2.github.io/vendor/js/bootstrap.min.js"></script> #}
    {# <script type="text/javascript" src="https://select2.github.io/vendor/js/prettify.min.js"></script> #}
    {# <script type="text/javascript" src="https://select2.github.io/vendor/js/anchor.min.js"></script> #}

    {# <link href="https://select2.github.io/dist/css/select2.min.css" type="text/css" rel="stylesheet" /> #}

    {# <link href="https://select2.github.io/css/font-awesome.css" type="text/css" rel="stylesheet" /> #}
    {# <link href="https://select2.github.io/css/s2-docs.css" type="text/css" rel="stylesheet" > #}

    {# <script type="text/javascript" src="https://select2.github.io/vendor/js/placeholders.jquery.min.js"></script> #}
    {# <script type="text/javascript" src="https://select2.github.io/dist/js/i18n/es.js"></script> #}

	{# <link rel="stylesheet" href="https://select2.github.io/select2/select2-3.5.1/select2.css"> #}
	{# <link rel="stylesheet" href="https://raw.githubusercontent.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css"> #}
	{# <link rel="stylesheet" href="css/gh-pages.css"> #}
	{# <!--[if lt IE 9]> #}
	{# 	<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> #}
	{# 	<script src="http://fk.github.io/select2-bootstrap-css/js/respond.min.js"></script> #}
	{# <![endif]--> #}

    {# scripts from https://fk.github.io/select2-bootstrap-css/3.5.1.html #}
    {# <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/bootstrap.min.css"> #}
	<link rel="stylesheet" href="http://select2.github.io/select2/select2-3.5.1/select2.css">
	<link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css">
	{# <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/gh-pages.css"> #}
	<!--[if lt IE 9]>
		<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="http://fk.github.io/select2-bootstrap-css/js/respond.min.js"></script>
	<![endif]-->
</head>
