<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Project Github</strong>
                            </h4>
                            <p>Please see the github for more details.</p>
                            <a href="https://github.com/natetlawrence/foodsense" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Restaurant Similarities</strong>
                            </h4>
                            <p>Show similarities for a single (or group) restaurant(s) entered by user.</p>
                            <a class="btn btn-light">Coming Soon</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Clustering</strong>
                            </h4>
                            <p>Show groups of restaurants and distinguishing characteristics.</p>
                            <a class="btn btn-light">Coming Soon</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>